<nav class="bg-green-600 text-white p-4 shadow-md">
  <div class="container mx-auto flex justify-between items-center">
    <div class="text-xl font-bold">Product Management System</div>
    <ul class="flex space-x-4">
      <li>
        <a routerLink="" routerLinkActive="font-bold" class="hover:underline"
          >Home</a
        >
      </li>
      <li>
        <a
          routerLink="/products"
          routerLinkActive="font-bold"
          class="hover:underline"
          >Products</a
        >
      </li>
    </ul>
  </div>
</nav>
